.newsletter {
  background: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 60px 40px;
}

.newsletter-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.newsletter-box input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .newsletter-box {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-box input {
    width: 80%;
  }
}
